{% extends 'base.html.twig' %}

{% block main %}

<section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for product in products %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ product.picture }}" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ product.name }}</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                    {% for i in 1..5 %}
                                        {% if product.rate < i %}
                                            <div class="bi bi-star"></div>
                                        {% else %}
                                            <div class="bi bi-star-fill"></div>
                                        {% endif %}
                                    {% endfor %}
                                    </div>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">{% if product.price_crossed is defined %}{{product.price_crossed}}{% endif %}</span>
                                    {{ product.price }}€
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{path('detailProduct', {id:product.id})}}">Voir le détail</a></div>
                            </div>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ajouter au panier</a></div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </section>


{% endblock %}