
         <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                 <a class="navbar-brand" href="{{path('accueil')}}"><img src="{{asset('img/logo.jpg')}}" alt="" id="imgLogo">Sport Shop</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{{path('accueil')}}">Accueil</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">A propos</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% for categories in category %}
                                <li><a class="dropdown-item" href="#">{{ categories.name }}</a></li>
                                {% endfor %}
                                <li><a class="dropdown-item" href="{{path('product')}}">Tous les produits</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="#">Articles les plus commandés</a></li>
                                <li><a class="dropdown-item" href="#">Nouveaux arrivages</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        {% if not app.user %}
                            <li class="nav-item"><a class="nav-link" href="{{path('app_register')}}">Inscription</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{path('app_login')}}">Connexion</a></li>
                        {% else %}
                             <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{app.user.email}}</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="{{path('profileUser',{id: app.user.id})}}">Profil</a></li>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <li class="nav-item"><a class="dropdown-item" href="{{path('adminUser')}}">Administration</a></li>     
                                    {% endif %}
                                    <li><hr class="dropdown-divider" /></li>
                                    <li class="nav-item"><a class="dropdown-item" href="{{path('app_logout')}}">Déconnexion</a></li>
                                </ul>
                            </li>
                            
                            
                        {% endif %}
                    </ul>
                    <form class="d-flex">
                        <button class="btn btn-outline-dark" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Cart
                            <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                        </button>
                    </form>
                </div>
            </div>
        </nav>

        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Le sport avec style</h1>
                    <p class="lead fw-normal text-white-50 mb-0">avec Sport Shop</p>
                </div>
            </div>
        </header>